@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --font-principal: 'IM Fell Great Primer', sans-serif;
    --font-secundaria: 'Roboto', cursive;
    --cor-principal: #1F7343;
    --cor-2:#62BF54;
    --cor-3:#EBEFEB;
    --cor-4:#420305;
    --cor-5:#D92B2B;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-3);
    font-family:var(--font-secundaria) ;
}
header {
    background-color: #1F7343;
    height: 70px;
    
}


.container-flex {
    display: flex;
    align-items: center;
    position: relative;
}

.menu {
    margin: auto;
    padding: 24px;
}

.img {
    position: absolute;
    left: 30px;
    width: 170px;
    height: 60px;
    padding: 10px;
}

header > section > .menu > a {
    padding: 12px;
    text-decoration: none;
    color: white;
    background-color: rgb(17, 67, 17);
    border-radius: 30px;
   
}

header > section > .menu > a#princ {
    margin-left: 10px;
}

main {
    text-align: center;
}
main > article > h1 {
    font-family: var(--font-principal);
    color: var(--cor-5);
    text-align: center;
    margin: 5px;
    padding-top: 10px;
}

main> article > p {
    padding: 10px;
}

main > article > img {
    width: 1000px;
    height: 500px;
    border-radius: 8px;
}